@import '../../node_modules/bootstrap/less/bootstrap';

body {
    padding-top: 60px;
}

.vertical-center {
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */

    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
