@import '../../node_modules/bootstrap/less/bootstrap';

@import 'source-sans-pro.css';

html, body, #app {
    height:100%;
    background-color: #EEFCFD;
    font-family: 'Source Sans Pro', sans-serif;
}

.vertical-center {
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */

    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.sidebar {
    padding: 0;

    background-color: #003c41;
    /*background-color: #056C75;*/
}

.sidebar .section {
}

.h3.sidebar-header {
    padding: 15px;
    margin: 0 0 10px 0;
    /*color:  #99E02B;*/
    color: #65A10A;
    line-height: 25px;
    font-weight: bold;
    font-size: 30px;
}

.sidebar-list {
    list-style: none;
    padding-left: 20px;
    font-size: 17px;
}

.sidebar-list .channel {
    font-size: 25px;
}

.navbar a {
    color: #65A10A
}

a, a:hover, a:focus {
    text-decoration: inherit;
    color: inherit;
}

.sidebar-list > li:hover , .sidebar-list li a:hover {
    color: #EEFCFD;
    text-decoration: none;
}
.sidebar-list > li, .sidebar-list > li a {
    color: #368B92;
}

.sidebar-list > li:active, .sidebar-list > li.active a {
    font-weight: bold;
}


.h3.sidebar-header .glyphicon {
    font-size: 25px;
}

.ml-top-padding {
    height: 30px;
}

.navbar {
    background-color: #003c41;
}

.navbar-brand {
    color: #65A10A;
    padding: 0 15px;
    font-size: 37px;
    line-height: 53px;
    font-weight: bold;
    height: 50px;
}

.navbar-brand:hover {
    color: #99E02B;
}


.h3.sidebar-header a {
    color: #65A10A;
}

.h3.sidebar-header a:hover {
    color: #99E02B;
}
